In [28]:
from src.utils import load_data, split_input_output, split_train_test, deserialize_data, serialize_data

In [29]:
dataset = load_data("../data/raw/credit_risk_dataset.csv")

Data Shape: (32581, 12)

In [30]:
dataset.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [31]:
dataset = dataset.rename(columns={
    "person_age": "age", "person_income": "income", "person_home_ownership": "home_ownership",
    "person_emp_length": "employment_length", "loan_amnt": "loan_amount",
    "loan_int_rate": "loan_interest_rate",
    "cb_person_cred_hist_length": "credit_history_length",
})

In [32]:
target_column = "loan_status"
X, y = split_input_output(dataset, target_column)

Original data shape: (32581, 12)
X data shape: (32581, 11)
y data shape: (32581,)

In [33]:
X.head()

,age,income,home_ownership,employment_length,loan_intent,loan_grade,loan_amount,loan_interest_rate,loan_percent_income,cb_person_default_on_file,credit_history_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4

In [34]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: loan_status, dtype: int64

In [35]:
X_train, X_non_train, y_train, y_non_train = split_train_test(X, y, test_size=0.2, random_state=42)

X train shape: (26064, 11)
X test shape: (6517, 11)
y train shape: (26064,)
y test shape: (6517,)

In [36]:
X_valid, X_test, y_valid, y_test = split_train_test(X_non_train, y_non_train, test_size=0.2, random_state=42)

X train shape: (5213, 11)
X test shape: (1304, 11)
y train shape: (5213,)
y test shape: (1304,)

In [37]:
serialize_data(X_train, path="../data/interim/X_train.pkl")
serialize_data(y_train, path="../data/interim/y_train.pkl")

serialize_data(X_test, path="../data/interim/X_test.pkl")
serialize_data(y_test, path="../data/interim/y_test.pkl")

serialize_data(X_valid, path="../data/interim/X_valid.pkl")
serialize_data(y_valid, path="../data/interim/y_valid.pkl")

In [38]:
X_train = deserialize_data("../data/interim/X_train.pkl")
y_train = deserialize_data("../data/interim/y_train.pkl")

In [39]:
X_train.head()

,age,income,home_ownership,employment_length,loan_intent,loan_grade,loan_amount,loan_interest_rate,loan_percent_income,cb_person_default_on_file,credit_history_length
32377,64,46000,RENT,2.0,PERSONAL,C,4800,11.09,0.10,Y,24
1338,26,26000,OWN,0.0,DEBTCONSOLIDATION,E,8500,16.45,0.33,N,3
7047,23,51000,MORTGAGE,3.0,PERSONAL,C,16000,13.11,0.31,Y,3
8225,22,56004,MORTGAGE,6.0,MEDICAL,A,6000,7.88,0.11,N,4
7178,24,79000,RENT,3.0,PERSONAL,C,7000,12.54,0.09,N,3

In [40]:
y_train.head()

32377    0
1338     1
7047     0
8225     0
7178     0
Name: loan_status, dtype: int64